.App {
  text-align: center;
  flex-wrap: wrap;
  background-color: #282c34;
  min-height: 100%;
  position: fixed;
  min-width: 100%;
}

.siderbar{
  background-color: #282c34;
  max-width: 6rem;
  font-size: calc(10px + 2vmin);
  color: white;
}

.siderbar > div  > img {
  height: calc(40px + 2vmin);
  width: calc(40px + 2vmin);
}

.siderbar > div  > p {
  margin: 0;
}

.nav{
  display: flex;
  padding: 15px 15px;
  background-color: #282c34;
  min-height: fit-content;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo{
  height: calc(80px + 2vmin);
  width: calc(80px + 2vmin);
}

.selectboxmain {
  display: flex;
  flex-direction: row;
}

.boxcontainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.box{
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  border: aqua solid 3px;
  border-radius: 15px;
  margin: 10px;
  width: 40%;
}

.cartpage{
  font-size: calc(10px + 2vmin);
  color: black;
  min-width: 100%;
  min-height: 100vh;
  background-color: white;
}

.cart{
  font-size: calc(20px + 2vmin);
  color: white;
  position: relative;
  transform-origin: top;
  animation: anim 1s forwards;
}

.cartbox{
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  border: aqua solid 3px;
  border-radius: 15px;
  margin: 10px;
  width: 80% ;
}

.cartbox > img {
  width: calc(100px + 2vmin);
  height: calc(100px + 2vmin);
}

.cartshow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

[data-content]:before {
    content: attr(data-content);
    position: absolute;
  top: calc(-5px);;
  left: calc(20px);
  width: calc(10px + 2vmin);
  height: calc(10px + 2vmin);
  background-color: #7EFFB2;
  font-size: calc(7px + 2vmin);
  color: #090909;
  display: grid;
  place-items: center;
  border: 2px solid #090909;
  border-radius: 50%;
}

.tt {
  font-size: calc(20px + 2vmin);
  color: white;
  position: relative;
  transform-origin: top;
  animation: am 1s forwards;
}

@keyframes anim {
  10% {transform: rotate(15deg);}
  20% {transform: rotate(-15deg);}
  30% {transform: rotate(15deg);}
  50% {transform: rotate(0deg);}
}

@keyframes am {
  10% {transform: rotate(15deg);}
  20% {transform: rotate(-15deg);}
  30% {transform: rotate(15deg);}
  50% {transform: rotate(0deg);}
}
